@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.container-fluid {
    background-color: black;
}

.failure {
  color: #F00;
}

.hidden {
  display: none;
}

.gameboard {
  background-color: hotpink;
}

.success {
  color: #0F0;
}

body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

div {
  background-color: green;
  vertical-align: top;
}

button {
  border: 5px solid #000000;
  font-size: 32px;
  text-align: center;
  /*padding: 32px 32px;*/
  width:60px;
  height:60px;
  text-transform: capitalize;
}

footer {
  background-color: blue;
  height: 50px;
}

h1 {
  background-color: blue;
  margin: 0;
}

header {
  background-color: blue;
}

main {
  background-color: #808080;
}

span {
  background-color: yellow;
}
